#web_portfolio {
  background-image: url("../img/webBanner.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
  filter: grayscale(100%);
  text-shadow: 0 0 10px #000000; }

.border-padding {
  padding: 20px; }

.border {
  border: 5px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.box {
  min-height: 50vh; }

.banner {
  min-height: 50vh;
  position: relative; }

.banner > h2 {
  font-size: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-30%);
  transform: translateX(-50%);
  margin: 0; }

.section-heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0; }

.overlay {
  background: rgba(0, 0, 0, 0.6);
  display: block;
  margin: 0 0;
  padding: 0 0; }

.dinasig-services {
  filter: grayscale(60%);
  color: #fff;
  height: 100%;
  background-color: #282828;
  background-image: url("../img/webDinasig.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.dinasig-mockup {
  background-image: url("../img/logoDinasig.png");
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position: -70% 100%;
  background-size: 75% auto;
  background-color: #282828; }

.gaynerds-services {
  color: #fff;
  height: 100%;
  background-color: #282828; }

.gaynerds-mockup {
  background-image: url("../img/webGayNerds.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.tarsier-services {
  color: #fff;
  height: 100%;
  background-color: #282828; }

.tarsier-mockup {
  background-image: url("../img/webTarsier.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.title-logo {
  width: 10vh;
  height: auto;
  float: left; }

.device-mockup {
  padding: 5vh; }

.overlay {
  background-image: url("../img/filter.png"); }

@media (min-width: 768px) {
  .device-mockup {
    padding: 10vh 5vh; } }
