@mixin background-cover($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin background-logo($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: 80%;
    background-blend-mode: lighten;
}

@mixin services($url) {
    color: #fff;
    background-color: $gray;
    @include background-cover($url);
    text-shadow: 1px 1px 5px $gray;
}

@mixin mockup($url){
    background-image: url($url);
    background-repeat: no-repeat;
    background-attachment: relative;
    background-position: -70% 100%;
    background-size: 75% auto ; 
    background-color: $gray;
}


$gray: #282828;




#web_portfolio {
    @include background-cover("../img/webBanner.jpg");
    text-align: center;
    color: #fff;
    filter: grayscale(100%);
    text-shadow: 0 0 10px #000000;
}



.border {
    border: 5px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.box {
    min-height: 50vh;
}

.banner {
    min-height: 50vh;
    position: relative;
}


.banner>h2 {
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-30%);
    transform: translateX(-50%);
    margin: 0;
}

.section-heading,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0;
}

.dinasig-services {
    @include services("../img/webDinasig.jpg");
}

.dinasig-mockup {
    @include mockup("../img/logoDinasigFade.png");
}

.cartographer-services {
    @include services("../img/webCartographer.jpg");
}

.cartographer-mockup {
    background-color: $gray;
}


.gaynerds-services {
    @include services("../img/webGayNerds.jpg");
}


.gaynerds-mockup {
    @include mockup("../img/logoGayNerdsFade.png");
}

.tarsier-services {
    @include services("../img/webTarsier.jpg");
}

.tarsier-mockup {
    background-color: $gray;
}


.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.title-logo {
    width: 10vh;
    height: auto;
    float: left;
}

.device-mockup {
    padding:5vh 3vh;
}

.overlay {
    background-image: url("../img/filter.png");
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  min-height:50vh;
}



@media (min-width:768px) {
    .device-mockup {
        padding:10vh;
    }
      min-height:100vh;
}

@media (min-width:992px) {}

@media (min-width:1200px) {}